<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error page</title>
        <link rel="stylesheet" href="/admin-assets/css/404.css" />
        <link rel="icon" type="image/x-icon" href="/admin-assets/images/icon.png" />

    </head>

    <body>
        <div class="header-404">
            <div class="heading-404">
                <h3>There was a problem with your request on Admin Portal!</h3>
                <p id="home-redirect"></p>
            </div>
            <div class="image-404 ">
                <a href="/"><img src="/admin-assets/images/404.jpg"></a>
            </div>
            <div class="footer-404">
                <a href="/admin/dashboard">Go to Login Page for Admin Portal</a>
            </div>
            <div id="scroll-to-top" class="scroll-to-top">
                <i class="fa-solid fa-chevron-up scroll-icon"></i>
            </div>
        </div>
    </body>

</html>